.card {
  border-radius: 25px;
  height: 150px;
  margin-top: 2%;
  position: relative;
  width: 180px;
  box-shadow: 0 3px 6px #999;
  text-align: left;
}
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 25px;
}
.card > .img-container > img {
  width: 60%
}
.card:hover {
  transform: scale(.7);
}